<header class="bg-danger text-white">
  <br>
  <h1 class="Caprasimo">Naša Mala Kuharica</h1>
  <br>
</header>

<body class="Caprasimo">
<nav style="background-color: firebrick" class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-white" id="navbarNav">
    <ul class="navbar-nav text-white">
      <li class="nav-item">
        <h4><button class="nav-link text-white">Profile</button></h4>
      </li>
      <li class="nav-item">
        <h4><button class="nav-link text-white" (click)="writeRecipe()">Kreiraj recept</button></h4>
      </li>
      <li class="nav-item">
        <h4><button class="nav-link text-white" (click)="logout()">Logout</button></h4>
      </li>
    </ul>
  </div>
</nav>

  <h2 style="margin-left: 1%" class="text-start">{{currentRecipe?.name}}</h2>
  <h6 style="margin-left: 1.5%" class="text-start">Kreirano: {{currentRecipe?.date}}</h6>
  <br>
  <h3 style="margin-left: 1%" class="text-start">Porcije: {{currentRecipe?.portions}}</h3>
  <br>
  <h3 style="margin-left: 1%" class="text-start">Vrijeme pripreme: {{currentRecipe?.preparationTimeMinutes}} minuta</h3>
  <br>
  <h3 style="margin-left: 1%" class="text-start">Sastojci</h3>
  <div style="margin-left: 1.5%" class="text-start" *ngFor="let ingredient of recipeIngredients">
    <h4>{{ingredient.name}}: {{ingredient.amount}}g</h4>
  </div>
  <br>
  <h3 style="margin-left: 1%" class="text-start">Upute za pripremu:</h3>
  <br>
  <div class="container">
    <div class="item rounded">
      <h4 class="text-start">
        {{currentRecipe?.instructions}}
      </h4>
    </div>
  </div>
</body>

<footer  class="bg-danger text-white fixed-bottom text-end Caprasimo">
  <h3 style="margin-right: 1%">Marko Marijan, Zagreb 2023</h3>
</footer>
