<body class="Caprasimo">
<div class="container">
  <fieldset class="form-group">
    <label>Korisničko ime:</label>
    <input style="margin: 0 auto" class="form-control w-25" type="text" [(ngModel)]="user.username">
  </fieldset>

<fieldset class="form-group">
  <label>Lozinka:</label>
  <input style="margin: 0 auto" class="form-control w-25" type="password" [(ngModel)]="user.password">
</fieldset>
<br>
  <div id="err"></div>
  <br>
<button style="margin-right: 5px" class="btn btn-success" (click)="login()">Login!</button>
<button style="margin-left: 5px" class="btn btn-danger" (click)="register()">Registracija!</button>
</div>
</body>
