<body class="Caprasimo">
<div class="container">
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <fieldset class="form-group">
    <label>Username</label>
    <input style="margin: 0 auto" class="form-control w-25" type="text" [(ngModel)]="newUser.username" name="username" required minlength="4" #uname = "ngModel">
    <div *ngIf="uname.touched">
      <div *ngIf="uname.errors?.['minlength']">
        <p style="color: red">Ime mora imati minimalno četiri znaka!</p>
      </div>
      <div id="err"></div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>Password</label>
    <input style="margin: 0 auto" class="form-control w-25" type="password" name="password" [(ngModel)]="newUser.password" required minlength="1" #pass = "ngModel">
    <div *ngIf="pass.touched">
      <div *ngIf="pass.errors?.['required']">
        <p style="color: red">Morate unijeti lozinku!</p>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>Repeat password</label>
    <input style="margin: 0 auto" class="form-control w-25" type="password" name="confirmPassword" [(ngModel)]="confirmPass" required minlength="1" #compass = "ngModel">
    <div *ngIf="compass.touched">
      <div *ngIf="compass.errors?.['required']">
        <p style="color: red">Morate potvrditi lozinku!</p>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>Name</label>
    <input style="margin: 0 auto" class="form-control w-25" type="text" name="name" [(ngModel)]="newUser.name" required minlength="1" #name = "ngModel">
    <div *ngIf="name.touched">
      <div *ngIf="name.errors?.['required']">
        <p style="color: red">Morate unijeti ime!</p>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>LastName</label>
    <input style="margin: 0 auto" class="form-control w-25" type="text" name="name" [(ngModel)]="newUser.lastName" required minlength="1" #lastName = "ngModel">
    <div *ngIf="lastName.touched">
      <div *ngIf="lastName.errors?.['required']">
        <p style="color: red">Morate unijeti ime!</p>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>Email</label>
    <input style="margin: 0 auto" class="form-control w-25" type="email" name="email" [(ngModel)]="newUser.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required minlength="1" #email = "ngModel">
    <div *ngIf="email.touched">
      <p *ngIf="email.errors?.['required']" style="color: red">Email je obavezan!</p>
      <p *ngIf="email.errors?.['pattern']" style="color: red">Email nije u ispravnom formatu!!!</p>
    </div>
  </fieldset>
  <br>
  <div id="inv"></div>
  <button class="btn btn-danger">Registracija!</button>
</form>
</div>
</body>

<footer  class="bg-danger text-white fixed-bottom text-end Caprasimo">
  <h3 style="margin-right: 1%">Marko Marijan, Zagreb 2023</h3>
</footer>
